#!/usr/bin/env python

# https://github.com/goodguyry/bella
# Local configuration file
# Required to be served from the project's root directory

{

  'defaults': {
    'environment': 'develop',
    'precision': 4,
    'watchFile': 'main',
    'addMinToFilename': False,
    'addMaxToFilename': False
  },

  "paths": {
    "cssPath":"css/",
    "sassPath": "css/scss/"
  }

}
